@model Hospital_Management_System.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление доступа";
}

<section class="section-form" id="contact">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col span-1-of-4">

            </div>
            <div class="col span-2-of-4">
                <div class="plan-box">
                    <div>
                        <div>
                            <label for="name">Введите вашу электронную почту</label>
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "mail@mail.ru", id = "name" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <p>
                            @Html.ActionLink("Назад", "Login")
                        </p>
                    </div>

                    <div style="text-align: center !important">
                        <input type="submit" value="Сбросить" class="btn btn-ghost">
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4">

            </div>
        </div>
        <div style="text-align: center" class="row">
            @Html.ActionLink("Вернуться на главную", "Index", "Home")
        </div>
    }

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
